@import "../../Shared/Style/Colors.scss";

.a {
  background-color: brown;
}
.carousel-content {
  height: 100%;
  width: 100%;
  color: #41aaff;
  text-align: center;
  font-size: 25px;
}
.carousel-parent {
  margin-bottom: 25px;
  justify-content: center;
  display: flex;
}
.float {
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.carousel {
  background-repeat: no-repeat;
  /* background-size: 1400px 580px; */
  background-size: cover;
  //   background-position: top;
  height: 400px;
}
.carousel-title {
  /* margin: 0 500px; */
  margin: auto;
  border-radius: 25px;
  width: auto;
  position: inherit;
  bottom: -200px;
  /* height: 80px; */
  color: white;
  /* background-color: #000000; */
}
.image-div {
  padding: 15px;
}
.row-con {
  display: flex;
  justify-content: center;
}
/* Mobile CSS */
@media only screen and (max-width: 500px) {
  .carousel-content {
    padding-bottom: 70px;
  }
}
