@import "../../Shared/Style/Colors.scss";

.profile-container {
  width: 350px;
  padding-bottom: 20px;
  margin: auto;
  text-align: center;
}

.titles-container {
  text-align: left;
  display: block;
}

.profile-row {
  align-items: center;
}
